$white: #fff;

$dark-purple: #4b4fb4;
$purple: #4a50b6;
$middle-purple: #555bbb;
$light-purple: #7263af;
$blue: #3b94c7;

$gray: #c4c4c4;
$light-dark: #4d4d4d;
$middle-dark: #343434;
$dark: #161616;
$black: #000;
